{% extends 'base.html' %}
{% block body_block %}
    <article>
        <!--lbox begin-->
        <div class="lbox">
            <div class="content_box whitebg">

                <input type='hidden' name='csrfmiddlewaretoken'
                       value='Xa0wCaiAqvct4TcXTk4qlNggTwfZ7E7fRUfkudHk0e2ttRhAY5Ztqj0bEigP0Zz3'/>
                <input type="hidden" name="blog_id" value="yhczlf2sbpoe">
                <input type="hidden" name="liked" value="false">

                <h2 class="htitle">
                    文章详情页
                    <span class="con_nav">您现在的位置是：<a href="/">网站首页</a>><a href="/">文章详情</a></span>
                </h2>


                <h1 class="con_tilte">关于自动化测试-httprunner</h1>
                <p class="bloginfo">
                    <i class="avatar">
                        <img src="/media/header/me.jpg" alt="图片丢失">
                    </i>
                    <span>jeeyshe</span>
                    <span>发表于：2019年6月27日 20:40</span>
                    <span>分类：【<a href="/x/cat/3">日常笔记</a>】</span>
                    <span>42次阅读</span>
                </p>


                <div class="con_text">
                    <p class="con_info">

                        <b>版权声明</b>
                        本文属于本站<b>&nbsp;&nbsp;原创</b>作品，文章版权归本站及作者所有，请尊重作者的创作成果，转载、引用自觉附上本文永久地址：
                        https://www.lujianxin.com/x/art/yhczlf2sbpoe

                    </p>

                    <div class="dashang">
                        <p class="like">
                            <span class="diggit"><button id="like">很赞哦(5)</button></span>
                            <span class="shang"><input id="dashang" type="button" value="赏"></span>
                            <span class="diggit"><button id="copy">复制地址</button></span>
                            <input type="hidden" name="link" value="https://www.lujianxin.com/x/art/yhczlf2sbpoe">
                            <input type="hidden" name="author" value="jeeyshe">
                            <input type="hidden" name="site" value="陆鉴鑫的博客">
                        </p>
                    </div>


                    <div class="nextinfo">

                        <p>上一篇：<a href="/x/art/7ji2jdhiscqr" target="_self">关于tornado框架</a></p>


                        <p>下一篇：无</p>

                    </div>
                </div>
            </div>
            <div class="whitebg">
                <h2 class="htitle">猜你喜欢</h2>
                <ul class="otherlink">


                    <li><a href="/x/art/27s487xprms4"
                           title="Django应用celery，实现多worker，多队列">Django应用celery，实现多worker，多队列</a></li>


                    <li><a href="/x/art/7ji2jdhiscqr" title="关于tornado框架">关于tornado框架</a></li>


                    <li><a href="/x/art/1v4r1rrv1syt" title="关于django后端渲染的笔记">关于django后端渲染的笔记</a></li>


                    <li><a href="/x/art/yxcf6t3z211i" title="schema-让数据验证更优雅">schema-让数据验证更优雅</a></li>


                    <li><a href="/x/art/zp785b7cy53b" title="敏捷开发">敏捷开发</a></li>


                    <li><a href="/x/art/wg51adt36w07" title="django实现可以删除media的serve">django实现可以删除media的serve</a></li>


                </ul>
            </div>


            <div class="whitebg gbook">
                <h2 class="htitle">文章评论区</h2>


                <!-- 来必力City版安装代码 -->
                <div id="lv-container" data-id="city" data-uid="MTAyMC80MzY3NS8yMDIxNQ==">
                    <script type="text/javascript">
                        (function (d, s) {
                            var j, e = d.getElementsByTagName(s)[0];

                            if (typeof LivereTower === 'function') {
                                return;
                            }

                            j = d.createElement(s);
                            j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                            j.async = true;

                            e.parentNode.insertBefore(j, e);
                        })(document, 'script');
                    </script>
                    <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
                </div>
                <!-- City版安装代码已完成 -->

            </div>
        </div>


        <div class="rbox">


            <div class="whitebg tongji">
                <h2 class="htitle">作者名片</h2>
                <div class="center-block card_head">

                    <img src="/media/header/me.jpg" alt="图片丢失" class="tongji_gzh">

                </div>
                <span></span>
                <ul>
                    <li><b>作者昵称</b>：jeeyshe</li>
                    <li><b>原创文章</b>：13篇</li>
                    <li><b>转载文章</b>：2篇</li>
                    <li><b>加入本站</b>：74天</li>
                </ul>
            </div>


            <div class="whitebg wenzi">
                <h2 class="htitle">作者其他文章</h2>
                <ul>


                    <li><a href="/x/art/7ji2jdhiscqr" target="_self">关于tornado框架</a></li>


                    <li><a href="/x/art/yxcf6t3z211i" target="_self">schema-让数据验证更优雅</a></li>


                    <li><a href="/x/art/vcakv1u8lrpt" target="_self">时光，你等等我</a></li>


                    <li><a href="/x/art/sgbferkjq53r" target="_self">oracle若干名词关系梳理</a></li>


                    <li><a href="/x/art/zp785b7cy53b" target="_self">敏捷开发</a></li>


                    <li><a href="/x/art/d4pv0524c10m" target="_self">科学上网，就是这么简单</a></li>


                    <li><a href="/x/art/fvs0ebkepo75" target="_self">深度操作系统15.10</a></li>


                    <li><a href="/x/art/bykbkr4w1xm1" target="_self">似水流年，老爸像极了小时候的我</a></li>


                    <li><a href="/x/art/kn8zysf9xsi1" target="_self">马云再谈 996：真正的 996 与被剥削无关</a></li>


                </ul>
            </div>


            <div class="whitebg cloud">
                <h2 class="htitle">标签云</h2>
                <ul>

                    <a href="/x/tag/1" target="_self">文学</a>

                    <a href="/x/tag/12" target="_self">操作系统</a>

                    <a href="/x/tag/3" target="_self">日记</a>

                    <a href="/x/tag/6" target="_self">个人笔记</a>

                    <a href="/x/tag/8" target="_self">golang</a>

                    <a href="/x/tag/10" target="_self">日常</a>

                    <a href="/x/tag/14" target="_self">小说</a>

                    <a href="/x/tag/11" target="_self">心情日记</a>

                    <a href="/x/tag/7" target="_self">python</a>

                    <a href="/x/tag/15" target="_self">短篇小说</a>

                    <a href="/x/tag/4" target="_self">文艺青年</a>

                    <a href="/x/tag/5" target="_self">技术博客</a>

                    <a href="/x/tag/16" target="_self">记叙文</a>

                    <a href="/x/tag/2" target="_self">干货</a>

                    <a href="/x/tag/9" target="_self">服务器</a>

                    <a href="/x/tag/13" target="_self">码农</a>

                </ul>
            </div>


            <div class="ad whitebg imgscale">
                <ul>
                    <a href="javascript: void(0);">广告位招租<img src="/static/image/sale.png" alt="图片丢失了"></a>
                </ul>
            </div>


            <div class="whitebg tuijian">
                <h2 class="htitle">站长推荐</h2>


                <ul>

                    <li>
                        <a href="/x/art/yhczlf2sbpoe">
                            <i><img src="/media/blog/cover/zdhcs.png"></i>
                            <p>关于自动化测试-httprunner</p>
                        </a>
                    </li>

                    <li>
                        <a href="/x/art/7ji2jdhiscqr">
                            <i><img src="/media/blog/cover/tornadoweb.png"></i>
                            <p>关于tornado框架</p>
                        </a>
                    </li>

                    <li>
                        <a href="/x/art/yxcf6t3z211i">
                            <i><img src="/media/blog/cover/python-schema.png"></i>
                            <p>schema-让数据验证更优雅</p>
                        </a>
                    </li>

                    <li>
                        <a href="/x/art/vcakv1u8lrpt">
                            <i><img src="/media/blog/cover/time.jpg"></i>
                            <p>时光，你等等我</p>
                        </a>
                    </li>

                    <li>
                        <a href="/x/art/sgbferkjq53r">
                            <i><img src="/media/blog/cover/oracle.jpg"></i>
                            <p>oracle若干名词关系梳理</p>
                        </a>
                    </li>

                    <li>
                        <a href="/x/art/zp785b7cy53b">
                            <i><img src="/media/blog/cover/mjkf.jpg"></i>
                            <p>敏捷开发</p>
                        </a>
                    </li>

                    <li>
                        <a href="/x/art/ak7d80qr8ciy">
                            <i><img src="/media/lujianxin.com.png"></i>
                            <p>C语言结构体中的位字段</p>
                        </a>
                    </li>

                    <li>
                        <a href="/x/art/d4pv0524c10m">
                            <i><img src="/media/blog/cover/深度截图_选择区域_20190430175324.png"></i>
                            <p>科学上网，就是这么简单</p>
                        </a>
                    </li>

                    <li>
                        <a href="/x/art/fvs0ebkepo75">
                            <i><img src="/media/blog/cover/深度截图_Desktop_20190428231500.png"></i>
                            <p>深度操作系统15.10</p>
                        </a>
                    </li>

                    <li>
                        <a href="/x/art/eir87b1hvqwb">
                            <i><img src="/media/blog/cover/下载.jpeg"></i>
                            <p>Spi中的Leading和Trailing配置</p>
                        </a>
                    </li>

                </ul>
            </div>


            <div class="whitebg tongji">
                <h2 class="htitle">站点信息</h2>
                <ul>
                    <li><b>运行天数</b>：75天</li>
                    <li><b>累计访问</b>：7926人次</li>
                    <li><b>今日访问</b>：96人次</li>
                    <li><b>原创文章</b>：16篇</li>
                    <li><b>转载文章</b>：3篇</li>


                    <li><b>微信公众号</b>：第一时间获取更新信息</li>
                    <img src="/static/image/wxgzh.jpg" class="tongji_gzh">
                </ul>
            </div>


        </div>
    </article>

{% endblock body_block %}